:root{
    --background: #0f0f0f;
}
.corpoEnquete{
    padding: 10px;
    display: flex;
    margin-top: 10px;
    height: 95vh;
    width: 95%;
    gap: 35px;
    border-radius: 10px;
}
.CardEnquete{
    background-color: #ffffff18;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.185);

    width: 380px;
    height: 75.5vh;
}
h1{
    font-size: 23px;
}
.form_enquete{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 86vh;
    gap: 125px;
}
form .divbtnVotar button{
    width: 300px;
    background-color: #2a4fff;
}
.enquetecontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 28px;
}
.divOption {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.divOption label{
    width: 10px;
    height: 10px;
    padding: 10px;
    background-color: #2a4eff9d;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divOption input{
    width: 280px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ffffff21;
    background-color: #ffffff18;
}
.divOption input::placeholder{
    padding: 10px;
}
.CardDesctalhes{
    width: 700px;
    height: 72.5vh;
    border-radius: 10px;
    text-align: justify;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.descricao{
    width: 680px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.185);
    background-color: #ffffff10;
    text-align: justify;
}
.opiniao{
    width: 680px;
    height: 600px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.185);
    background-color: #ffffff10;
    text-align: justify;

    display: flex;
    flex-direction: column;
}
.opiniao form{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.opiniao form label{
    color: #ffffff69;
}
.opiniao form textarea{
    height: 100px;
    outline: none;
    padding: 8px;
    resize: none;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff18;
}
.opiniao form button{
    background-color: #2a4fff;
}

