.corpoEnquete{
    background-color: #ffffff10;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    height: 95vh;
    width: 500px;

    border-radius: 10px;
}
h1{
    font-size: 23px;
}